*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
}
h2{
    font-size: 1.8rem;
    font-weight: 700;
}
body{
    padding: 30px 20px;
    background-color: aliceblue;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.symbols {
    gap: 15px;
    display: flex;
    padding: 40px 0;
    justify-content: center;
    align-items: center;
}
.number-board {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.count{
    width: 100%;
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 0 0 3px #7b0048;
}
.player{
    font-weight: 700;
    width: 100%;
}
.line {
    border-bottom: 1px solid #f3f3f3;
    padding: 10px;
}
.score-board-wrap{
    max-width: 200px;
    text-align: center;
    margin: 20px auto 10px;
}
.score-board {
    max-width: 200px;
    margin: 20px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background: #ffffff;
}
.sign {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f3f3f3;
    transition: all ease .3s;
}
.sign:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0px #d3cfcf;
}
.sign img{
    width: 80px;
}
.message {
    max-width: 350px;
    margin: 20px auto;
    text-align: center;
    font-size: 1.5rem;
    background: #820606;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
}